absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
astunparse
attrs
axios
beautifulsoup4
bidict
blinker
bs4
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cycler
dataclasses-json
dnspython
eventlet
filelock
filetype
Flask
flask-cors
Flask-SocketIO
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
googletrans
greenlet
grpcio
grpcio-status
h11
h2
h5py
hpack
hstspreload
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
hyperframe
idna
imageio
itsdangerous
jax
jaxlib
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
keyboard
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
lazy_loader
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mediapipe
ml-dtypes
mpmath
multidict
mypy-extensions
namex
narwhals
networkx
numpy
ollama
opencv-contrib-python
opencv-python
opencv-python-headless
opt_einsum
optree
orjson
packaging
pandas
pillow
propcache
proto-plus
protobuf
psutil
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pygame
Pygments
pyparsing
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rfc3986
rich
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
segment-anything
sentencepiece
setuptools
simple-websocket
six
smmap
sniffio
socketIO-client
sounddevice
soupsieve
SpeechRecognition
SQLAlchemy
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
threadpoolctl
tifffile
tokenizers
toml
torch
torchvision
tornado
tqdm
transformers
transliterate
typing-inspect
typing_extensions
tzdata
ultralytics
ultralytics-thop
uritemplate
urllib3
watchdog
websocket-client
Werkzeug
wheel
wrapt
wsproto
yarl
zstandard
gunicorn
